@import "normalize.styl"
@import "style.styl"
@import "nib"
@import "nib/vendor"


vendor-prefixes = o ms moz webkit official
azul = #3f90dc
rojo = rgb(230, 69, 42)
verde = #149152
amarillo = #FF8E1B
negro = #686868;
blanco= #fff;
.float-left
	float left
.float-right
	float right
.align-center
	text-align center
.blanco
	color blanco
.azul
	color azul
.titulo
	font-size 1.6em
	font-weight 300
.titulo-21
	font-size 1.5em
	font-weight bold
	text-shadow: 1px 1px 2px #000;
.frase-1
	font-size 2em
	font-weight bold
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);

	
.body
	font-size 16px	

/* Cabecera */
.boton-estudios
		background none
		color azul
		border 2px solid azul
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		/* background-color: #ff241b; */
		
		padding: 9px 40px;
		font-size: 1.5em;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		line-height: normal;
		-o-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		display: inline-block;
		width: 300px;
		
		cursor pointer
		&:hover
			background azul
			color blanco
			border: 2px solid azul;
.contenedor-mensaje
	text-align center
	
	.boton-estudios
		background none
		color azul
		border 2px solid azul
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		/* background-color: #ff241b; */
		
		padding: 9px 40px;
		font-size: 1.5em;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		line-height: normal;
		-o-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		display: inline-block;
		width: 300px;
		
		cursor pointer
		&:hover
			background amarillo
			color blanco
			border: 2px solid amarillo;
.header-principal
	color blanco
	width 100%
	height 80px
	text-align center
	.header-wrap
		display: inline-block;
		position: relative;
		overflow: hidden;
		width: 1010px;
		height: 75px;
		overflow: hidden;
		.logo
			position absolute
			left 0
			display inline-block
			padding: 1em 0 0 1em;
			img
				width 120px
		.menu
			position: absolute;
			text-align: right;
			display: inline-block;
			right: 0;
			padding: 1em 1em 0 0;
			ul
				list-style: none;
				margin: 0;
				padding: 0;
				li
					display: inline-block;
					margin: 0;
					a
						font-size: .9em;
						color: blanco
						display: block;
						margin: 0.5em 1em;
						text-decoration: none;
						transition: 0.3s;
						font-weight: bold;
						text-transform: uppercase;
						padding: 5px 0;
						:hover
							cursor pointer
			.current-link
				border-bottom: 2px solid azul;
				opacity: .9;
			.blog
				border-bottom: 2px solid #FF9200;
				opacity: .9;
				
				
.contenedor-video
	width 100%
	height auto
	position: absolute;
	top: 0;
	z-index: -1;
	.video-cabecera
		width 100%
		height 100%
	.pelicula
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		background: rgba(4, 4, 4, 0.15);
/*SOLAPA CONTRAPUESTA*/
.contenedor
	margin-right: auto;
	margin-left: auto;
.contenedor-solapa
	position: relative;
	padding-right: 0.5em;
	padding-left: 0.5em;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 -18px 30px 0 rgba(50,50,50,0.5)
	width: 980px;
	top: 498px;
	text-align: center;
	z-index 1
	border-top 4px solid amarillo
	
/*Producto first*/
.producto-titulo
	color azul
	font-size: 2em;
	font-weight: normal;
	margin-top: 0.5em;

.producto
	display inline-block
	width: 450px;
	border-right: 1px solid azul;
	border-left: 1px solid azul;
	border-top 1px solid azul;
	border-radius: 6px 6px 6px 6px;
	cursor pointer
	transition: all 300ms ease-in-out;
	margin-bottom: 1em;
	&:hover .boton-comprar
		background #FFA447
	&:hover
		box-shadow 1px 5px 15px negro
	
	
		
		
	figure
		margin 0
		padding 0
		display inline-block
		float right
		img
			width: 225px;
			left: 0;
			position: relative;
	.producto-descripcion
		text-align: justify;
		/* line-height: 12px; */
		/* letter-spacing: 0px; */
		word-spacing: 0px;
		white-space: normal;
		display inline-block
		.beneficios
			width: 210px;
			display: inline-block;
			float: left;
			
			ul
				padding: 0 0 0 1em;
				li
					list-style none
				h4
					margin 0
		a
			color azul
			text-decoration none
	.producto-cabecera
		/* background: #3f90dc; */
		color blanco
		background azul
		padding: 1em 0 1em 0;
		text-align: center;
		margin: 0;
		-webkit-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
		margin-bottom: 1em;
		border-bottom: 1px solid #3f90dc;
		font-weight: 300;
		font-size: 1.4em;
		transition: all 300ms ease-in-out;
	.boton-comprar
		background amarillo
		color blanco
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		/* background-color: #ff241b; */
		border: none;
		padding: 9px 40px;
		font-size: 1.5em;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		line-height: normal;
		-o-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		display: inline-block;
		float: right;
		width: 100%;
		
		border: 1px solid amarillo;
		
		
		
	.precio
		font-weight: 300;
		font-size: 2em;
		color: negro;
		border-top: 1px solid #3f90dc;
	.precio-antes
		text-decoration: line-through;
		margin-bottom: 0.5em;
	.antes
		margin 0
		color azul
	.price-icon
		color: rojo;
		left: -10px;
		position: relative;
		font-size: 0.8em;
	.check
		color verde
		margin-right: 0.5em;
/* Contenedor Principal */
.contenedor-principal
	width: 100%;
	background: #fff;
	top: -22px
	position: relative;
	padding-top: 34em;
	text-align: center;
	border-top: 6px solid azul;
.seccion-natural
	background url("../img/background-rdu21.jpg")
	background-repeat: no-repeat
	background-position: center center
	width 100%
	position: relative;
	text-align center
	background-size: cover;
	z-index 500
	/*&:before
		content ""
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left 0
		background: rgba(4, 4, 4, 0.15);*/
	.descripcion
		position relative
		padding 2em 0 
		h2
			font-size 2.5em
			color blanco
			margin 0
		p
			color blanco
		.boton-estudios
			background none
			color blanco
			border 2px solid blanco
			text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
			/* background-color: #ff241b; */
			
			padding: 9px 40px;
			font-size: 1.5em;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			line-height: normal;
			-o-transition: all 300ms ease-in-out;
			-ms-transition: all 300ms ease-in-out;
			-moz-transition: all 300ms ease-in-out;
			-webkit-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out;
			display: inline-block;
			width: 300px;
			
			cursor pointer
			&:hover
				background blanco
				color azul
				border: 2px solid azul;
.img-playa
	min-height: 400px;
	background: transparent;
.seccion-beneficios
	background url("../img/background-rdu21.png")
	background-repeat: no-repeat
	background-position: center center
	width 100%
	position: relative;
	text-align center
	background-size: cover;
	z-index 500
	border-top: 2px solid azul;
	border-bottom: 2px solid rgb(207, 4, 155);
	/*&:before
		content ""
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left 0
		background: rgba(4, 4, 4, 0.15);*/
	.descripcion
		position relative
		padding: 2em 0 3em 0;
		
		h2
			font-size 2.5em
			color azul
			margin 0
		p
			color azul
	nav
		width: 45%;
		display: inline-block;
		list-style: none;
		line-height: 3em;
		text-align: center;
		float: left;
		/* height: 100px; */
		overflow: hidden;
		li
			position relative
			width: 100%;
			overflow: hidden;
			&:hover
				cursor pointer
				
			img
				width: 100px;
				display: inline-block;
				
				float: left;
			
			p
				color azul
				font-size 1.5em
				margin 0
				float: left;
				display: inline-block;
				position: relative;
				top: 36px;
.beneficios-container
	overflow: hidden;
	width: 80%;
	display: inline-block;
	padding-left: 20%;
.seccion-testimonios
	background url("../img/background-rdu21.jpg")
	background-repeat: no-repeat
	background-position: center center
	width 100%
	position: relative;
	text-align center
	background-size: cover;
	z-index 500
	text-align center
	padding 2em 0
	border-top 2px solid blanco
	/*&:before
		content ""
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left 0
		background: rgba(4, 4, 4, 0.15);*/
	h2
		font-size 2.5em
		color blanco
		margin 0
	h3
		color azul
		transition all 0.5s  ease-in-out 
	p
		color blanco
		
	.testimonio
		width 400px
		display inline-block
		padding: 1em;
		border: 1px solid white;
		transition all 0.5s ease-in-out 
		background blanco
		&:hover
			cursor pointer
			background blanco
		&:hover p
			color azul
		&:hover h3 
			color azul	
		figure
			margin: 0;
			overflow: hidden;
			display: inline-block;
			margin-bottom: 1em;
			img
				width 200px !important
				height 200px !important
				float left
				border-radius 50%
		.descripcion
			position relative
			padding 2em 0
			display: inline-block;
		p
			color azul
			transition all 0.5s  ease-in-out 
			text-align justify
		.profesion-item
			text-align center
			font-weight 300
			
	.owl-controls
		display none !important	
				
				
					
					


@media screen and (max-width:1430px)
	.seccion-beneficios
		.beneficios-container
			nav
				li
					p
						font-size 1em	
		
@media screen and (max-width:1097px)
	.contenedor-solapa
		width: 100%;
		border none
		box-shadow none
		top 308px
	.header-principal .header-wrap
		width 100%
	.seccion-beneficios
		padding 0
		.beneficios-container
			padding 0
			nav
				width 100%
				text-align center
				li
					p
						font-size 1em
			
		
		
@media screen and (max-width:900px)
	.contenedor-video
		background url("../img/rdu21-reduce-medidas-2.jpg");
		background-repeat: no-repeat
		background-position: 30% 20%; 
		background-size 100% 100%
		width 100%
		height: 780px;
		position: absolute;
		text-align center
		
		video
			display none
	.contenedor-principal
		padding-top 11em
	.contenedor-solapa
		top 200px
		padding-top 1em
@media screen and (max-width:660px)
	.menu
		display none !important
	
	
				
		
@media screen and (max-width:470px)
	.seccion-testimonios 
		.testimonio
			width 85%
	.contenedor-solapa
		width 95%
	.producto
		width 100%
		
		figure
			float none
	.seccion-beneficios
		padding 0
		.beneficios-container
			padding 0
			width: 100%; 
			nav
				width 100%
				text-align center
				li
					overflow none
					p
						font-size 1em
						float none
						top 0
						display block
					img
						width: 49px;
						display: inline-block;
						
			
	
		
	

		
			
			

		
		
		
			
	

